<div class="container">
  <div class="page-header">
    Cart
  </div>

  <mat-card>
    <div *ngIf="products">
      <div class="products">
        <div class="product product-heading">
          <span>Product</span>
          <span>Quantity</span>
          <span>Price</span>
        </div>
        <div class="product" *ngFor="let product of products">
          <span>
            <img src="{{ BaseURL + product.image }}" alt="{{ product.name }}">
            <div>{{ product.name }}</div>
          </span>
          <span>
            {{ product.quantity }}
          </span>
          <span>
            Rs. {{ product.price * product.quantity }}
          </span>
        </div>
        <div class="product">
          <span>Total</span>
          <span>{{ totalQuantity }}</span>
          <span>Rs. {{ totalPrice }}</span>
        </div>
      </div>
      <div class="action-buttons">
        <button mat-raised-button color="primary" [routerLink]="['/checkout']">Checkout</button>
      </div>
    </div>
    <div *ngIf="!products">
      There are no products in your cart right now. Add some products from
      <a [routerLink]="['/']">home page</a>
    </div>
  </mat-card>

</div>