<div class="navbar mat-elevation-z6">
  <mat-toolbar color="primary" role="header">
    <span class="brand-name-box">
      <img src="/assets/images/logo/logo-48.png" class="brand-logo" alt="Logo">
      <span class="brand-name">E-commerce</span>
    </span>
    <span class="flex-spacer"></span>
    <span class="right-buttons">
      <button mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
        Home
      </button>
      <button mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/cart']">
        Cart
      </button>
      <button mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/admin/add-product']">
        Add Product
      </button>
    </span>
  </mat-toolbar>
</div>